@model ToDoListCore.ViewModels.EmployeeDepartment
@{
    ViewData["Title"] = "EditEmployee";
}

<h1 class="display-3">Edycja pracownika</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmployee">
            <input type="hidden" asp-for="EmployeeID" />
            <div class="form-group">
                <label asp-for="EmplName">Imię pracownika: </label>
                <input class="form-control" asp-for="EmplName" />
            </div>
            <div class="form-group">
                <label asp-for="EmplSurname">Nazwisko pracownika: </label>
                <input class="form-control" asp-for="EmplSurname" />
            </div>
            <div class="form-group">
                <label asp-for="DayOfBirthday">Data urodzenia pracownika: </label>
                <input class="form-control" type="date" asp-for="DayOfBirthday" />
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress">Adres E-Mail pracownika: </label>
                <input class="form-control" asp-for="EmailAddress" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Numer telefonu pracownika: </label>
                <input class="form-control" asp-for="PhoneNumber" />
            </div>
            <div style="margin-bottom:25px;">
                <label asp-for="DepartmentID">Wybierz dział: </label>
                <select class="form-control" asp-for="DepartmentID" asp-items="@(new SelectList(ViewBag.ListOfDepartments, "DepartmentID", "DeptName"))"></select>
            </div>
            <button class="btn btn-primary" type="submit" action="EditEmployee">Aktualizuj dane pracownika</button>
            <p><a asp-action="Main">Powrót do zarządzania pracownikami</a></p>
        </form>
    </div>
</div>

