@model ToDoListCore.ViewModels.TaskWithEmpsList
@{
    ViewData["Title"] = "EditTask";
}

<h1 class="display-3">Edycja zadania</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTask">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="IsEnd" />
            <div class="form-group">
                <label asp-for="StartDate">Wybierz datę rozpoczęcia zadania: </label>
                <input class="form-control" type="date" asp-for="StartDate" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime">Wybierz godzinę rozpoczęcia zadania: </label>
                <input class="form-control" type="time" asp-for="StartTime" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate">Wybierz datę zakończenia zadania: </label>
                <input class="form-control" type="date" asp-for="EndDate" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime">Wybierz godzinę zakończenia zadania: </label>
                <input class="form-control" type="time" asp-for="EndTime" />
                <span asp-validation-for="EndTime"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title">Tytuł zadania: </label>
                <input class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Opis zadania: </label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.Partial("EmployeesListPartialView")
            <button class="btn btn-primary" type="submit" action="EditTask">Aktualizuj zadanie</button>
            <a asp-action="Main">Powrót do listy zadań</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

