<link rel="stylesheet" href="~/css/HomeStyle.css" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Organize it all with TodoList</h1>
        <p class="lead">
            Free up your mental space
            Regain clarity and calmness by getting all those tasks out of your head and onto your
            to-do list (no matter where you are or what device you use).
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-action="Main" role="button">Get Started</a>
    </div>
</div>
