<link rel="stylesheet" href="~/css/MainSite.css" />
@model IEnumerable<Zadanie>
@{
    ViewData["Title"] = "Main";
}

<h1>Hello</h1>

<a asp-action="AddTask">Dodaj zadanie</a>

<div>
    <table class="table table-dark">
        <thead class="tab">
            <tr>
                <th>Data rozpoczecia</th>
                <th>Data zakończenia</th>
                <th>Tytuł</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Zadanie t in Model)
            {
                <tr>
                    <td>@t.StartTime</td>
                    <td>@t.EndTime</td>
                    <td>@t.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>

