<link rel="stylesheet" href="~/css/MainSite.css" />
 
@{
    ViewData["Title"] = "Main";
}

<h1 class="text-primary">Zadania rozpoczęte</h1>

<a asp-action="AddTask" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 15px;">Dodaj zadanie</a>

<form>
    <p>
        Tytuł zadania: @Html.TextBox("SearchString")
        <input type="submit" value="Szukaj" />
    </p>
</form>
<a asp-action="WriteDataToExcel" class="margin-top: 15px; margin-bottom: 15px;">Ekportuj tabele zadań do formatu Excel</a>

@Html.Partial("StartedTasks")
@Html.Partial("EndedTasks")



